*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

:root {
	/* --primary-hue: 20;
    --gray-hue: 280; */

	--primary-hue: 110;
	--color-white: #ffffff;
	--gray-hue: 240;
	--color-primary: hsl(var(--primary-hue), 55%, 50%);
	--color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
	--color-secondary: #42e030;
	--color-gray-100: hsl(var(--gray-hue), 47%, 94%);
	--color-gray-200: hsl(var(--gray-hue), 26%, 75%);
	--color-gray-300: hsl(var(--gray-hue), 24%, 64%);
	--color-gray-400: hsl(var(--gray-hue), 16%, 41%);
	--color-gray-500: hsl(var(--gray-hue), 44%, 25%);
	--color-black-600: hsl(0, 0%, 0%);

	--container-width-lg: 80%;
	--container-width-md: 90%;

	--transition: all 500ms ease;

	--color-gray-700: rgba(255, 255, 255, 0.9);
}

/* GENERAL STYLES */
body {
	font-family: 'Montserrat', sans-serif;
	color: var(--color-gray-200);
	line-height: 1.7;
	overflow-x: hidden;
	background: var(--color-gray-700);
}
/* Стили для LTR (Left-to-Right) */
.ltr {
	direction: ltr;
}

/* Стили для RTL (Right-to-Left) */
.rtl {
	direction: rtl;
}
.container {
	width: var(--container-width-lg);
	max-width: 1920px;
	margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
	color: rgb(0, 0, 0);
}

h1 {
	font-size: 3rem;
	color: rgb(0, 0, 0);
	font-weight: 500;
}

h2 {
	text-align: center;
	font-size: 2rem;
	color: black;
	font-weight: 600;
}

h4 {
	color: black;
}

a {
	color: var(--color-gray-100);
}

img {
	display: block;
	object-fit: cover;
	width: 100%;
}

.btn {
	color: var(--color-gray-100);
	width: fit-content;
	margin: 0 auto;
	padding: 0.9rem 2rem;
	background: var(--color-primary);
	transition: var(--transition);
}

.language-dropdown {
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	pointer-events: none; /* Деактивировать кликабельность, когда список скрыт */
}

.language-dropdown.open {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto; /* Включить кликабельность, когда список открыт */
}

.btn.lg {
	width: 220px;
	height: 50px;
	border: none;
	outline: none;
	color: #000000;
	background: linear-gradient(
		45deg,
		#dbd703,
		#48ff00
	);
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.btn.lg::before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	border-radius: 15px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.btn.lg {
	padding: 1.2rem 3rem;
	font-size: 1.1rem;
	border-radius: 14px;
}
.main__header-image {
	opacity: 0;
	transform: translateX(-100%);
	animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.btn.sm {
	padding: 0.4rem 1.2rem;
	font-size: 0.9rem;
}
a.btn.sm:hover {
	color: white;
}
section {
	margin-top: 10rem;
}

.section__head {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.product_image {
	height: 80%;
}
.section__head span {
	background: var(--color-gray-500);
	padding: 0.8rem;
	border-radius: 1rem;
	color: var(--color-secondary);
	font-size: 1.5rem;
}

.card {
	background: var(--color-white);
	text-align: center;
	padding: 3rem 2rem;
}

.card:hover {
	background: var(--color-gray-700);
	border-color: var(--color-black-600);
	cursor: default;
}

.card span {
	width: 3rem;
	height: 3rem;
	background: var(--color-primary);
	color: var(--color-gray-100);
	font-size: 1.5rem;
	padding: 0.8rem;
	display: grid;
	place-items: center;
	margin-bottom: 1.5rem;
	margin-inline: auto;
	border-radius: 1rem;
	transition: var(--transition);
}

.card:hover span {
	background: var(--color-secondary);
	color: var(--color-gray-600);
}
.product__image {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
.card small {
	margin-top: 1rem;
	display: block;
	font-weight: 300;
}

.header {
	margin-top: 5rem;
	height: 20rem;
	overflow: hidden;
	border-bottom: 2px solid var(--color-gray-400);
}

.header__container {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	place-items: center;
	background: black;
}

.header__container-bg {
	position: absolute;
	width: 100%;
}

.header__container-bg img {
	opacity: 0.5;
}

.header__content {
	position: relative;
	width: 44%;
	margin: 0 auto;
	text-align: center;
	color: var(--color-gray-100);
}

.header__content h2 {
	margin-bottom: 1rem;
	color: white;
	font-size: 50px;
}

.header__content p {
	color: rgba(255, 255, 255, 0.7);
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
	.container {
		width: var(--container-width-md);
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.6rem;
	}

	section {
		/* this margin was added outside tutorial */

		margin-top: 8rem;
	}

	.header__content {
		width: 76%;
	}
}
.green-icons a {
	color: green;
}

.green-icons a:hover {
	color: darkgreen;
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 2.2rem;
		line-height: 1.3;
	}

	section {
		margin-top: 7rem;
	}

	.header {
		/* the code below was added outside tutorial */
		max-height: 15rem;
	}

	.header__content {
		width: var(--container-width-md);
		padding: 3rem 0;
	}

	.header__content p {
		font-size: 0.85rem;
	}
}
#product {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 1.5em;
	padding: 2em 0;
}
.ProductCard {
	background-color: #ffffff;
	max-width: 18em;
	margin-top: 1em;
	padding: 1em;
	box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-containers {
	text-align: center;
}
.container {
	padding-top: 1em;
	color: #ffffff;
}
.container h5 {
	font-weight: 500;
}
.hide {
	display: none;
}
@media screen and (max-width: 720px) {
	.ProductCard {
		max-width: 10em;
		margin-top: 1em;
	}
	#product {
		grid-template-columns: auto auto;
		grid-column-gap: 1em;
	}
}

p.testimonial__quote {
	color: black;
}
.Insights {
	color: white;
}
.permalinks {
	color: white;
}
.get-in-touch {
	color: white;
}
.catalog {
	margin-top: 5px;
}
.logo_RILL {
	position: absolute;
	width: 5rem;
	height: 4rem;
	top: 8px;
}

hr {
	border: none;
	width: 100%;
	height: 1px;
	background-color: 91CB3E;
	margin: 20px 0; /* Регулируйте отступы по вашему усмотрению */
}

.select__btn {
	width: 10rem;
	height: 2rem;
	border-radius: 10px;
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
}

.modal-content {
	text-align: center;
}
.button1 {
	justify-content: left;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 10px;
	width: 100px;
	border-radius: 10%;
	height: 30px;
}
.button2 {
	justify-content: right;
	margin-left: 20px;
	margin-top: 20px;
	width: 100px;
	border-radius: 10%;
	height: 30px;
}

/* index.css */
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 2;
}

.slick-prev {
	left: 10px;
}

.slick-next {
	right: 10px;
}

.select__btn--green {
	background-color: rgb(119, 119, 119);
	color: white; /* Чтобы текст был виден на зелёном фоне */
}

/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {
	.language_switcher {
		position: relative;
		left: 30px;
	}
}
.language_switcher {
	left: -20px;
	border-radius: 10px;
}

/* ProductModal.css */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-card {
	background: white;
	padding: 20px;
	max-width: 600px;
	width: 100%;
	height: 100%;
	position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px; /* Уменьшил размер шрифта для пропорциональности */
  background: #d1d1d1; /* Серый фон */
  border: none;
  cursor: pointer;
  border-radius: 50%; /* Делаем кнопку круглой */
  width: 40px; /* Устанавливаем ширину и высоту для круга */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.product__image {
	width: 100%;
	height: 300px;
	border-radius: 8px;
}

.product__title {
	font-size: 24px;
	margin: 20px 0;
}

.product__article {
	color: black;
	font-size: 16px;
	line-height: 1.5;
}
.search-container {
  position: relative;
  display: flex;
	
}

input {
  padding: 8px;
  font-size: 16px;
	border-radius: 14px;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.clear-button:hover {
  color: red; /* Optional: Change color on hover */
}
/* Стили для основного поиска */
/* Стили для основного поиска */
.main__search {
	position: fixed; /* Закрепляем элемент на экране */
	top: -50px; /* Начальное положение за пределами экрана */
	left: 50%; /* Центрируем элемент по горизонтали */
	right: 10%; /* Центрируем элемент по горизонтали */
	transform: translateX(-50%); /* Корректируем смещение для центрирования */
	width: 100%; /* Ширина элемента */
	max-width: 400px; /* Максимальная ширина элемента */
	z-index: 100; /* Убедитесь, что z-index не конфликтует с другими элементами */
	animation: slideDown 0.5s ease-out forwards; /* Анимация появления */
	direction: var(--direction, ltr); /* Устанавливаем направление текста на 
	основе переменной CSS */
	border-radius: 14px;
}

@keyframes slideDown {
	from {
			top: -50px; /* Начальное положение */
			opacity: 0; /* Начальная прозрачность */
	}
	to {
			top: 2%; /* Конечное положение */
			opacity: 1; /* Конечная прозрачность */
	}
}




/* Стили для поля ввода */
.main__search input {
	width: 100%; /* Ширина поля ввода */
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2); /* Прозрачная граница */
	background-color: rgba(255, 255, 255, 0.7); /* Прозрачный фон */
	animation: slideIn 0.5s ease-out; /* Применяем анимацию */
}

/* Стили для кнопки очистки */
.search-clear-button {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #999;
}

/* Стили для результатов поиска */
.search-results {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	color: black;
	background: white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

/* Стили для списка результатов */
.search-results ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Стили для каждого результата */
.search-results li {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

/* Стили для изображений в результатах */
.search-results li img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 10px;
}

/* Стили для изменения фона при наведении */
.search-results li:hover {
	background-color: #e5e5e5;
}

/* Медиазапрос для скрытия на мобильных устройствах */
@media (max-width: 768px) {
	.main__search {
		display: none; /* Скрываем поле поиска на мобильных устройствах */
	}
}

.programs_head_title {
	margin-bottom: 150px;
	font-size: 30px;
	font-weight: 300;
}

