/* Общие стили для карточек продуктов */
.product-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 0; /* Убираем отступы между карточками */
	justify-content: flex-start; /* Выравнивание карточек слева */
}

.product-card {
	width: calc(25% - 10px); /* Четыре карточки в ряд на больших экранах */
	height: auto; /* Высота автоматически подстраивается */
	transition: transform 0.3s ease;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	position: relative;
	font-size: 13px;
	font-weight: lighter;
	overflow: hidden;
	box-sizing: border-box; /* Включаем padding в расчет ширины */
}

.product-card img {
	width: 100%;
	height: 20rem; /* Устанавливаем фиксированную высоту изображения */
	object-fit: cover;
	border-radius: 5px;
}

.product-card:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкая тень при наведении */
}

/* Стили для поиска */
.placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	margin-left: 60px;
	background-color: #dddbdb;
	width: 90%;
	height: 3rem;
	max-width: 50rem;
	padding: 0 10px;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	.placeholder {
		margin-left: 5%;
	}
}

.placeholder::placeholder {
	padding-left: 20px;
	padding-right: 20px;
}

/* Стили для модального окна */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.modal-card {
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	width: 35rem;
	max-width: 100%;
	height: 46rem;
	max-height: 90vh;
	overflow: auto;
}

@media (max-width: 768px) {
	.modal-card {
		padding: 10px;
	}
}

/* Кнопка закрытия модального окна */
.modal-card .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 30px;
	cursor: pointer;
	background: none;
	border: none;
}

/* Анимация появления модального окна */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modal-card {
	animation: fadeIn 0.3s ease-in-out;
}

.product__image {
	display: block; /* Убедимся, что элемент является блочным */
	margin: 0 auto; /* Центрируем изображение по горизонтали */
	width: 30%; /* Устанавливаем ширину изображения */
	border-radius: 5px; /* Скругляем углы изображения */
}

.product__title {
	font-size: 1rem;
	margin: 20px 0;
	text-align: center;
}

.product__article,
.product__warning {
	font-size: 1rem;
	color: #333;
	margin: 10px 0;
	padding: 10px 20px;
	text-align: left;
	box-sizing: border-box;
	word-wrap: break-word;
}

.warning {
	width: 100%;
	background-color: black;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 15px;
}

.warning_text {
	text-align: center;
	margin-top: 10px;
}

@media (max-width: 900px) {
	.product__article,
	.product__title,
	.product__warning {
		font-size: 0.9rem;
		padding: 10px;
	}
	.warning {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 768px) {
	.product-card {
		width: calc(50% - 10px); /* Две карточки в ряд для устройств меньше 768px */
	}
}

@media screen and (max-width: 480px) {
	.product-card {
		width: calc(100% - 10px); /* Одна карточка в ряд для самых маленьких экранов */
	}
}


@media screen and (width: 1024px) {
	.product-card {
		width: calc(50% - 10px); /* Одна карточка в ряд для самых маленьких экранов */
	}
}

@media screen and (width: 820px) {
	.product-card {
		width: calc(50% - 10px); /* Одна карточка в ряд для самых маленьких экранов */
	}
}

@media screen and (width: 768px) {
	.product-card {
		width: calc(50% - 10px); /* Одна карточка в ряд для самых маленьких экранов */
		margin-left: 160px;
	}
}
.product__warning {
	background-color: black;
	width: 500px;
	color: white;
	border-radius: 10px;
}

.product-card {
  position: relative;
}

.image-count-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
	.all-products-button {
		display: none;
	}
}