/* Стили для карточек товаров */
.product-grid {
	display: flex; /* Отображение в ряд */
	flex-wrap: wrap; /* Перенос на следующую строку при нехватке места */
	gap: 55px; /* Отступ между карточками */
	justify-content: center;
}

.product-card {
	width: 17rem; /* Ширина карточки */
	height: 23rem; /* Высота карточки */
	margin-bottom: 20px;
	transition: transform 0.3s ease;
	background-color: #ffffff; /* Белый фон */
	padding: 20px; /* Отступы внутри карточки */
	border-radius: 8px; /* Закругление углов */
	text-align: center; /* Выравнивание текста по центру */
	position: relative; /* Относительное позиционирование для внутренних элементов */
	overflow: hidden; /* Убираем выход за границы */
}

.product-card h3,
.product-card p {
	color: #000000; /* Цвет текста */
	margin: 0; /* Убираем отступы */
	position: absolute; /* Абсолютное позиционирование */
	left: 10px;
	right: 10px;
}

.product-card h3 {
	bottom: 10px; /* Расположите заголовок чуть выше описания */
	font-size: 1.2rem; /* Размер шрифта заголовка */
}

.product-card p {
	bottom: 10px; /* Расположите описание снизу */
	font-size: 1rem; /* Размер шрифта описания */
}

.product-card img {
	width: 100%;
	height: calc(
		100% - 60px
	); /* Высота изображения с учетом пространства для текста */
	object-fit: cover; /* Убедитесь, что изображение полностью вписывается */
	border-radius: 5px;
}

/* Стили для .placeholder */
.placeholder {
	position: relative;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center; /* Центрирование содержимого по вертикали */
	margin-bottom: 50px;
	margin-left: 60px;
	background-color: #dddbdb;
	width: 90%;
	height: 3rem;
	max-width: 50rem;
	padding: 0 10px; /* Добавление внутреннего отступа с обеих сторон */
	box-sizing: border-box; /* Учитывает padding и border в общей ширине и высоте */
}


/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
	.placeholder {
		margin-left: 5%; /* Уменьшите отступ слева для мобильных устройств */
	}
}

.placeholder::placeholder {
	padding-left: 20px;
	padding-right: 20px;
}

/* styles.css (or your preferred stylesheet) */

/* Overlay */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.modal-card {
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	width: 50rem;
	height: 40rem;
	overflow: auto;
}

@media (max-width: 768px) {
	.modal-card {
		width: 100%; /* Используйте всю ширину экрана на мобильных устройствах */
		height: 90vw; /* Высота относительно ширины для сохранения квадратной формы */
		padding: 10px; /* Уменьшите отступы на меньших экранах */
		word-wrap: break-word;
		overflow-wrap: break-word;
		overflow: auto;
	}
}

/* Close Button */
.modal-card button.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.modal-card h3 {
	color: #333;
	text-align: center;
}
/* Optional Animation */
.modal-card {
	animation: fadeIn ease-in-out 0.3s;
}
.close-btn {
	position: absolute;
	display: flex;
	font-size: 30px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.close-btn {
		align-items: center;
		width: 8rem;
		height: 2.5rem;
	}
}

.product-description {
	display: flex;
	max-height: 100px;
	overflow: auto;
	color: #333;
}

.no-images-notification {
	margin-top: 50px;
}

.product__article,
.product__title {
	display: flex;
	width: 100%;
	position: relative;
	color: black;
	text-align: left;
	padding: 10px 20px;
	box-sizing: border-box;
}

.product__article {
	top: 0;
}

.product__title {
	justify-content: center;
	top: 0;
	font-size: 20px;
}

@media (max-width: 900px) {
	.product__article,
	.product__title {
		font-size: 15px;
		padding: 10px;
		text-align: left;
		word-wrap: break-word;
		overflow-wrap: break-word;
		overflow: auto;
	}
}

.warning {
	width: 100%;
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

.warning_text {
	text-align: center;
	margin-top: 10px;
}
@media (max-width: 900px) {
	.warning {
		font-size: 15px;
		padding: 10px;
		text-align: left;
		word-wrap: break-word;
		overflow-wrap: break-word;
		overflow: auto;
	}
}
