/* Стили для карточек товаров */
.product-grid {
	display: flex; /* Отображение в ряд */
	flex-wrap: wrap; /* Перенос на следующую строку при нехватке места */
	gap: 20px; /* Отступ между карточками */
	justify-content: center;
}

.product-card {
	width: 15rem; /* Ширина карточки */
	height: 15rem;
	margin-bottom: 20px;
	transition: transform 0.3s ease;
	background-color: #ffffff; /* Белый фон */
	padding: 20px; /* Отступы внутри карточки */
	border-radius: 8px; /* Закругление углов */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятости */
	text-align: center; /* Выравнивание текста по центру */
}

.product-card:hover {
	transform: scale(1.1);
	border: 3px solid #ffa600; /* Светло-серая рамка */
}

.product-card {
	position: relative; /* Добавьте относительное позиционирование для карточки товара */
}

.product-card h3,
.product-card p {
	position: absolute; /* Используйте абсолютное позиционирование для текста */
	color: #fff; /* Измените цвет текста на белый для лучшей видимости на изображении */
}

.product-card h3 {
	top: 10px; /* Расположите заголовок в верхней части изображения */
	left: 10px;
}

.product-card p {
	bottom: 10px; /* Расположите описание в нижней части изображения */
	left: 10px;
}

.product-card img {
	position: relative;
	width: 100%;
	height: 100%;
	transform: scale(1.2);
	border-radius: 5px;
}

.placeholder {
	position: relative;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	margin-left: 60px;
	border-radius: 15px;
	width: 90%; /* Используйте проценты вместо rem */
	height: 3rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 50rem; /* Максимальная ширина для больших экранов */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
	.placeholder {
		margin-left: 5%; /* Уменьшите отступ слева для мобильных устройств */
	}
}

.placeholder::placeholder {
	padding-left: 20px;
}

/* styles.css (or your preferred stylesheet) */

/* Overlay */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.modal-card {
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	width: 30rem;
	height: 30rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
	.modal-card {
		width: 100%; /* Use full width of the screen on mobile */
		height: 90vw; /* Set height relative to width to maintain square shape */
		padding: 10px; /* Reduce padding on smaller screens */
	}

	.modal-card img {
		width: 100%; /* Set image width to 100% of its container */
		height: 100%; /* Set image height to 100% of its container */
		object-fit: cover; /* Ensure the image covers the whole area without distortion */
	}
}

/* Close Button */
.modal-card button.close-button {
	position: relative;
	display: flex;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.modal-card h3 {
	color: #333;
	text-align: center;
}
/* Optional Animation */
.modal-card {
	animation: fadeIn ease-in-out 0.3s; /* Add your fade-in animation */
}
.close-btn {
	position: absolute;
	display: flex;
	font-size: 30px;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.close-btn {
		align-items: center;
		width: 8rem; /* or any other size you want */
		height: 2.5rem; /* adjust as needed */
	}
}
.product-wineimage {
	width: 15rem;
	margin-left: 95px;
	margin-top: 40px;
}
.product-description {
	display: flex;
	max-height: 100px;
	overflow: auto;
	color: #333;
}

.no-images-notification {
	margin-top: 50px;
}

.product__article,
.product__title {
	display: flex;
	width: 50%;
	position: relative;
	color: black;
	text-align: left;
}

.product__article {
	top: -400px;
	left: 230px;
}

.product__title {
	top: -420px;
	font-size: 20px;
	left: 230px;
}

@media (max-width: 768px) {
	.product__article,
	.product__title {
		width: 100%; /* Используйте 100% ширины на мобильных устройствах */
		margin-top: 60px; /* Уменьшите верхний отступ на мобильных устройствах */
		margin-left: -250px;
		text-align: left;
	}
}
