.programs_head_title {
	margin-bottom: 150px;
	font-size: 30px;
	font-weight: 300;
	color: black;
}

.programs__icons {
	display: flex;
	flex-wrap: wrap;
	gap: 20px; /* Расстояние между иконками */
}

.programs__icon-item {
	text-align: center;
	flex: 1 1 150px; /* Минимальная ширина элемента */
}

.programs__icon {
	font-size: 3rem; /* Размер иконки */
}

.programs__title {
	position: relative;
	display: flex;
	text-align: center;
	margin-top: 15px; /* Отступ между иконкой и заголовком */
	font-size: 1.5rem; /* Размер шрифта заголовка */
	font-weight: 500;
}
.programs__image {
	position: relative;
	display: flex;
	justify-content: center;
	margin-left: 75px;
	margin-right: 75px;
	width: 150px;
}
.programs__image:hover {
	cursor: pointer;
}

.programs__image-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует заголовок и изображение по горизонтали */
}

.programs__image {
  max-width: 100%;
  height: auto;
}

.programs__title {
  margin-top: 8px; /* Добавляет отступ сверху */
  text-align: center; /* Центрирует текст под изображением */
}
